.sprite {
	display: inline-block;
	background-position: left;

	@keyframes spriteAnimation {
	    from {
	      background-position: left;
	    }
	    to {
	      background-position: right;
	    }
	  }
}